.d1
{
    
    font-size: 16.0417px;
    color: #423F40;
    font-family: Inter500;
}
.d2
{
    margin-top: -10px;
    font-size: 90px;;
    color: #423F40;
    letter-spacing: -0.01em;
    font-family: Inter300;
    text-transform: uppercase;
   
    
}
.d3 
{
    font-family: Inter900;
    margin-top: -40px;
    font-size: 110px;
    color: #423F40;
    /* font-weight: 900; */
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.btnClass button
{
    padding: 8px;
    margin-right: 30px;
    padding-inline: 10px;
    background: transparent;
    border: none;
    font-family: Inter400;
    color: #423F40;
    font-size: 16px;
}
.btnClass i
{
    padding-inline: 5px;
}
.btnClass span
{
    padding-inline: 5px;
}
.btnClass button:hover
{
    background-color: rgba(0, 0, 0, 0.2);
    border:px solid #EFEFEF;
    border-radius: 50px;
}
@font-face {
    font-family: Inter900;
    src: url('../../Fonts/Inter-Black.ttf');
  }
@font-face {
    font-family: Inter300;
    src: url('../../Fonts/Inter-Light.ttf');
  }
@font-face {
    font-family: Inter500;
    src: url('../../Fonts/Inter-Medium.ttf');
  }
@font-face {
    font-family: Inter400;
    src: url('../../Fonts/Inter-Regular.ttf');
  }